$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlue: hsl(207, 26%, 17%);
$veryDarkBlueText: hsl(200, 15%, 8%);

$lightDarkGray: hsl(0, 0%, 52%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

header {
  display: flex;
  justify-content: space-evenly;
  background-color: $darkBlue;
  color: $white;
  align-items: center;
  width: 100vw;
  height: 4rem;

  img {
    width: 2.5rem;
  }

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
  }

  svg {
    width: 2em;
    height: auto;
    cursor: pointer;
  }
}

.filters-section {
  // background-color: $darkBlue;
  display: flex;
  flex-direction: column;
  padding: 4% 4%;

  input {
    margin-bottom: 2%;
    background-color: $darkBlue;
    border-radius: 5%;
    padding: 4% 4%;
    color: white;
    max-width: 100vw;
    height: 0.5rem;
  }

  select {
    width: 40%;
    height: auto;
    background-color: $darkBlue;
    padding: 2% 2%;
    color: white;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.country-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.5rem;
  background-color: $veryDarkBlueText;
  border: solid $veryDarkBlue 1px;
  border-radius: 5%;
  font-size: 0.8rem;

  color: white;

  div {
    max-width: 15em;
    max-height: 13em;
    padding: 5% 5%;

    span {
      color: rgb(131, 120, 120);
    }
  }

  img {
    max-width: 20em;
    height: 160px;
    align-self: center;
  }
}

.lightModeHeader {
  background-color: #d6d2d2;
  color: $veryDarkBlueText;
}

.lightModeFilters {
  background-color: $veryLightGray;
  color: $veryDarkBlueText;

  input {
    background-color: $veryLightGray;
    color: $veryDarkBlueText;
  }

  select {
    background-color: $veryLightGray;
    color: $veryDarkBlueText;
  }
}

.lightModeMain {
  background-color: $veryLightGray;
}

.lightModeCountryCard {
  background-color: #dfdfdf;
  border: solid $veryLightGray 1px;
  color: $veryDarkBlueText;

  div {
    span {
      color: #3c464b;
    }
  }
}

.lightModeBody {
  background-color: $veryLightGray;
}

.country-details {

  button {
    margin: 10% 10%;
  }

  .country-card {
    padding: 10% 10%;
  }

  .country-detail-info {

  }

  img {
    width: 80vw;
    height: auto;
  }
}

@media (min-width: 768px) {
  header {
    .logo {
      align-items: center;
      font-size: larger;
    }
  }

  .filters-section {
    flex-direction: row;
    justify-content: space-between;

    input {
      border-radius: unset;
      padding: 2% 2%;
      width: 30%;
    }

    select {
      width: 20%;
      height: 20%;
    }
  }
}